@font-face {
  font-family: "LatoBlack";
  src: url("../../assets/fonts/Lato-Black.ttf");
  font-weight: 400;
  font-style: normal;
}

.box-new-message {
  margin: 10px 0;
  text-align: center;
  padding: 5px 15px;
  background-color: #407ec914;
}

.message-new-message {
  font-family: "LatoBlack";
  color: #407ec9;
  font-size: 13px;
}
